body
{
    /* background: linear-gradient(35deg, hsl(10, 100%, 50%) 12%, hsl(30, 100%, 54%) 71%); */
    background: #404040;
    background-attachment: fixed;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

header
{
    width: 300px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
}

#container_row
{
    width: 50%;
    min-height: calc(100vh - 80px);
    float: left;
    position: relative;
}

#container_login
{
    width: calc(100% - 20px);
    min-height: 80px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#container_register
{
    background-color: #ffffff;
    color: #000000;
    width: 300px;
    height: 325px;
    padding: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#table_title {
    font-size: 25px;
    text-align: center;
    margin: 10px 0;
    display: block;
}

@media(max-width: 1200px)
{
    #container_row
    {
        width: 100%;
    }
    #container_register
    {
        margin: 50px auto;
    }
}