main
{
    width: calc(100% - 200px);
    height: calc(100vh - 80px);
    top: 80px;
    left: 200px;
    position: absolute;
}

main form
{
    text-align: center;
}

form legend
{
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

input[type=submit]
{
    margin: 10px;
}

input[type=text] {
    margin: 5px;
}