.left           { float: left; }
.right          { float: right; }
.clear_b        { clear: both; }
.text_left      { text-align: left; }
.text_right     { text-align: right; }
.text_center    { text-align: center; }
.text_just      { text-align: justify; }