#containter_table
{
    width: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    margin-top: 50px;
}

#table_title {
    font-size: 25px;
    text-align: center;
    margin: 10px 0;
    display: block;
}

.tg  {width: 500px;border-collapse:collapse;border-spacing:0;border-color:#aaa;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}

@media(max-width: 1000px)
{
    #container_table
    {
        margin: 50px auto;
    }
}